
#main {
	position:fixed;
	left:1px;
	top:24px;
	right:1px;
	bottom:1px;
}

#filter {
	display:flex;
	margin:10px;
}

#filter-categorie-select-area {
	display:grid;
	grid-auto-flow: column;
	padding:0px 15px;
	gap:15px;
}


#list {
	height:calc(100% - 200px);
	overflow-y:scroll;
	margin:10px;
	padding:10px;
	background:rgba(0,0,0,0.4);
	border:2px solid #000;
}
#list-grid {
	display:flex;
	flex-wrap:wrap;
}


#list-grid .item {
	padding:10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background:rgba(0,0,0,0.6);
	border-radius:5px;
	cursor:pointer;
	margin:5px;
	border:2px solid transparent;
	transition:transform 200ms;
}
#list-grid .item:hover {
	background:rgba(0,0,0,0.8);
	border-color:#fff;
}
#list-grid .item.file {
	width:150px;
	height:150px;
	max-width:10vw;
	max-height:10vw;
}
#list-grid .item .file {
	height:calc(100% - 20px);
	background-color:rgba(30,30,30,0.5);
	background-size:contain;
	background-position:50%;
	background-repeat:no-repeat;
	image-rendering: crisp-edges; 
}
#list-grid .item.add .file {
	background-image:url('../img/upload.svg');
	background-size:auto 50%;
}

#list-grid .item.dropfile {
	background:rgba(0,0,0,0.9);
	transform:scale(1.1);
	transition:transform 100ms;
}
#list-grid .item.dropfile .file {
	opacity:0.2;
}

#list-grid .odd {
	background:rgba(20,30,40, 0.4);
}



#asset-quick-info {
	position:fixed;
	left:0;
	top:0;

	padding:5px;
	font-size:0.8em;

	background:#fff;
	color:#000;
	border-radius:3px;
	box-shadow:0px 0px 4px rgba(0,0,0,0.2);
	display:none;

	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

#asset-quick-info.visible {
	display:grid;
}

#asset-quick-info .arrow {
	position:absolute;
	left:0;
	top:-20px;
	border:10px solid transparent;
	border-bottom-color:#fff;

}

#asset-quick-info-size {
	text-align:right;
	padding-left:10px;
}

#asset-quick-info-filepath {
	white-space: nowrap;
	grid-column-end: span 2;
}

#asset-quick-info-filepath .component {
	position:relative;
	display:inline-block;

	border-radius:3px;
	text-align: center;
	padding:0px 0px 20px;
	white-space: nowrap;
}

#asset-quick-info-filepath .component .path-id {
	position:absolute;
	left:0;
	right:0;
	top:20px;
	color:rgb(0, 86, 156);
	font-size:0.8em;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}



#batch-upload {
	position:fixed;
	inset:1px;
	top:26px;

	background:rgba(0,0,0,0.9);
	backdrop-filter: blur(2px);
	display:none;
}
#batch-upload.visible {
	display:block;
}

#batch-upload-select {
	position:absolute;
	left:0;
	right:0;
	top:0;
	padding:20px;
	background:#000;
}


#batch-upload-select .button-grid {
	position:absolute;
	inset:10%;
	top:100px;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 50px;
	grid-auto-flow: row;
	gap:20px;

}