#main {
	position: absolute;
	left:0;
	right:0;
	top:24px;
	bottom:0;
}

#match-list {
	height:calc(100% - 200px);
	overflow-y:scroll;
	margin:10px;
	background:rgba(0,0,0,0.4);
	border:2px solid #000;
	font-size:10px;
}
#match-list .item {
	padding:5px;
	border-bottom:1px dotted #444;
	cursor:pointer;
}

#match-list .item:nth-child(odd) {
	background:rgba(255,255,255,0.05);
}
#match-list .game-item {
	display:none;
	margin-top:10px;
	font-size:12px;
	background:rgba(0,0,0,0.05);
	border-radius:2px;
	
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"player game"
    "caster fields";
}
#match-list .item.selected .game-item {
	display:grid;
}
#match-list i {
	color:#ccc;
}
#match-list .player {
	grid-area: player;
	font-weight:bold;
}	
#match-list .caster { 
	grid-area: caster; 
}
#match-list .caster:before { 
	content:'Commentary: ';
	color:#aaa;
}
#match-list .game { 
	grid-area: game;
	text-align:right;
}	

#match-list .fields {
	grid-area: fields;
	display:flex;
	font-size:10px;
}
#match-list .fields .field-item {
	margin:2px 6px;
}

#match-list .title-textboxes {
	display:none;
}



#page-list {
	display:flex;
	justify-content:center;
}
#page-list > div {
	margin:0 2px;
	min-width:12px;
	padding:2px 5px;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
	background:rgba(0,0,0,0.4);
}
#page-list > div:hover {
	background:#000;
}
#page-list > div.selected {
	background:#fff;
	color:#000;
}
#page-list > div.selected:hover {
	background:#fff;
}