

#main {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}


#list {
	position:absolute;
	background:rgba(0,0,0,0.5);
	top:10px;
	bottom:60px;
	left:10px;
	right:10px;
	padding:10px;
	border:1px solid rgba(255,255,255,0.1);
	font-size:12px;
	overflow-y:scroll;
}
#list .item {
	display:flex;
	padding:5px;
	line-height:16px;
	height:20px;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.05);
	margin:4px 0px;
}
#list .item .status {
	height:16px;
	width:16px;
	margin:2px;
	background:#f00;
	border-radius:50%;
	transition:background 200ms;
}
#list .item.visible .status {
	background:#0f0;
}

#details {
	position:absolute;
	right:10px;
	top:10px;
	bottom:10px;
	left:50%;
	padding:10px;
	background:#000;
}
#details input {
	display:block;
	width:90%;
	box-sizing:border-box;
}
#details select {
	display:block;
	width:90%;
	box-sizing:border-box;
}

#details-args > div {
	padding:5px 0px;
}
#details-args > div > label {
	font-size:10px;
}

#options {
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	padding:10px;
	background:rgba(0,0,0,0.9);
	text-align:center;
}