

#main {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}

#cont {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:50px;
}

#list {
	position:absolute;
	background:#fff;
	top:10px;
	bottom:10px;
	left:10px;
	right:calc(50% + 10px);
	padding:10px;
	border:1px solid #aaa;
	color:#000;
	font-size:12px;
	overflow-y:scroll;
}
#list .item {
	display:flex;
	padding:3px;
	white-space:nowrap;
}
#list .item:nth-child(even) {
	background:#fafafa;
}
#list .item.selected {
	background:#6af;
}

#details {
	position:absolute;
	right:10px;
	top:10px;
	bottom:10px;
	left:50%;
	padding:10px;
	background:#000;
}
#details input {
	display:block;
	width:90%;
	box-sizing:border-box;
}
#details select {
	display:block;
	width:90%;
	box-sizing:border-box;
}

#details-args > div {
	padding:5px 0px;
}
#details-args > div > label {
	font-size:10px;
}

#options {
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	padding:10px;
	background:rgba(0,0,0,0.9);
	text-align:center;
}